<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.com">
  <head>
    <div th:replace="~{fragments/head::head}"></div>
    <link rel="stylesheet" th:href="@{../css/sidebar.css}" />
    <link rel="stylesheet" th:href="@{../css/dashboard.css}" />
  </head>

  <body>
    <div class="page-wrapper chiller-theme toggled">
      <!--menu-expance-->
      <a th:replace="~{fragments/menu::menu_expance}"></a>
      <!--Nav-->
      <div th:replace="~{fragments/sidebar::sidebar}"></div>
      <!--Main-->
      <main class="page-content">
        <div class="container-fluid">
          <a
            th:replace="~{customers/customer-metrics::co-metrics (${coMetric})}"
          ></a>
          <!--Dashboard--->
          <div class="w-75">
            <canvas
              th:replace="~{fragments/dashboard::dashboard (300,150,${listDays},${listValue})}"
            ></canvas>
          </div>

          <h1>Lista de Clientes</h1>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">id</th>
                <th scope="col">cliente</th>
                <th scope="col">cpf</th>
                <th scope="col">ação</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="customer: ${customers}">
                <th scope="row" th:text="${customer.id}"></th>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.cpf}"></td>
                <td>
                  <a th:href="@{/customers/{id}(id=${customer.id})}"
                    >Visualizar</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
    <div th:replace="~{fragments/scripts::scripts}"></div>
    <script th:src="@{../js/sidebar.js}"></script>
    <script th:src="@{../js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{../js/all.js}"></script>
  </body>
</html>
