<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.com">
  <head>
    <div th:replace="~{fragments/head::head}"></div>
    <link rel="stylesheet" th:href="@{../css/sidebar.css}" />
  </head>

  <body>
    <div class="page-wrapper chiller-theme toggled">
      <!--menu-expance-->
      <a th:replace="~{fragments/menu::menu_expance}"></a>
      <!--Nav-->
      <div th:replace="~{fragments/sidebar::sidebar}"></div>
      <!--Main-->
      <main class="page-content">
        <div class="container-fluid">
          <form
            th:action="@{/customers/update/{id}(id=${customer.id})}"
            method="post"
            th:object="${customer}"
          >
            <legend>Cliente</legend>
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input
                type="text"
                class="form-control"
                th:field="*{name}"
                placeholder="Digite seu nome"
                aria-label="Digite seu nome"
              />
            </div>
            <div class="mb-3">
              <label for="cpf" class="form-label">cpf:</label>
              <input
                type="text"
                class="form-control"
                th:field="*{cpf}"
                placeholder="Digite seu cpf"
                aria-label="Digite seu cpf"
              />
              <!-- 
          <div id="cpfHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
          -->
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
        </div>
      </main>
    </div>
    <div th:replace="~{fragments/scripts::scripts}"></div>
    <script th:src="@{../js/sidebar.js}"></script>
    <script th:src="@{../js/all.js}"></script>
  </body>
</html>
