<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.com">
  <head>
    <div th:replace="~{fragments/head::head}"></div>
    <link rel="stylesheet" th:href="@{../css/sidebar.css}" />
  </head>

  <body>
    <div class="page-wrapper chiller-theme toggled">
      <!--menu-expance-->
      <a th:replace="~{fragments/menu::menu_expance}"></a>
      <!--Nav-->
      <div th:replace="~{fragments/sidebar::sidebar}"></div>
      <!--Main-->
      <main class="page-content">
        <div class="container-fluid">
          <form
            th:action="@{/opportunities/save}"
            method="post"
            th:object="${opportunity}"
          >
            <legend>Criar Opportunidade</legend>
            <div class="mb-3">
              <label for="institution" class="form-label">Instituições:</label>
              <select th:field="*{institution}">
                <option
                  th:each="i : ${institutions}"
                  th:value="${i.id}"
                  th:text="${i.name}"
                ></option>
              </select>
            </div>
            <div class="mb-3">
              <label for="creditRequest" class="form-label">Cliente Requesitando Credito:</label>
              <select th:field="*{creditRequest}">
                <option th:value="null" th:selected="true">select option</option>
                <option
                  th:each="c : ${creditRequests}"
                  th:value="${c.id}"
                  th:text="${c.customer.name}"
                ></option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Criar</button>
          </form>
        </div>
      </main>
    </div>
    <div th:replace="~{fragments/scripts::scripts}"></div>
    <script th:src="@{../js/sidebar.js}"></script>
    <script th:src="@{../js/all.js}"></script>
  </body>
</html>
